.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: rgb(255, 255, 255);
  }
  
  .container input:checked ~ .checkmark {
    background-color: rgb(67, 180, 105);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
      top: 10px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  
  #questions {
      margin:50px auto;
      width:50%;
      background-color:rgb(226, 245, 219);
      padding:10px;
  }
  
  h4 {
      padding:10px 20px;
      font-weight:bold;
  }
  
  .inner {
      padding:10px;
  }
  
  .btm {
      padding:20px;
  }
  
  .results {
      text-align:center;
      margin:5px auto;
  }
  
  .col {
      color:rgb(96, 149, 209);
  }

.ans {
    margin-left:15px;
}